.contact {
  width: 40%;
  margin-top: 10rem;
  border: 1px dashed white;
  padding: 2rem;
  h2 {
    font-size: 3rem;
    color: white;
  }
  button {
    border: 1px solid white;
    a {
      color: palevioletred;
    }
  }
}
